<form  action="/display_puppy" method="post">
  <p>Name:<input type="text" name="name"></p>
  <p>Age:<input type="integer" name="age"></p>
 <p>Breed:<input type="text" name="breed"></p>
  <input type="submit" id="submit" >

</form>
